.titulo{
    width: 400px;
    height: 200px;

    border: 5px solid green;
    margin-top: 50px;
    padding-top: 50px;

/*
padding-left: 200px;
padding-bottom: 150px;
padding-top: 50px;
padding-right: 100px;

padding: 50px 100px 120px 150px; arriba derecha abajo izquierda
aplica para margin paggind y border
padding: 100px 200px;
*/
padding: 100px;
}
span{
    display:inline-block;
}